<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IONDRVVirtIOGPUBlocker</string>
	<key>CFBundleName</key>
	<string>IONDRVBlocker</string>
	<key>CFBundleIdentifier</key>
	<string>com.vmqemuvga.IONDRVBlocker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IONDRVVirtIOGPUBlocker</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmqemuvga.IONDRVBlocker</string>
			<key>IOClass</key>
			<string>IONDRVVirtIOGPUBlocker</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOPCIMatch</key>
			<string>0x10501af4 0x10511af4 0x10521af4</string>
			<key>IOProbeScore</key>
			<integer>500000</integer>
			<key>IONDRVIgnore</key>
			<true/>
			<key>AAPL,ndrv-dev</key>
			<false/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>19.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>19.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
	</dict>
</dict>
</plist>
