<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VMQemuVGAGA</string>
	<key>CFBundleName</key>
	<string>VMQemuVGAGA</string>
	<key>CFBundleIdentifier</key>
	<string>com.vmware.kext.VMQemuVGA.GA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>66F3A1D2-8B4E-479A-9D15-2E9F0A7B3C41</key>
		<string>VMQemuVGAGAFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>ACCF0000-0000-0000-0000-000a2789904e</key>
		<array>
			<string>66F3A1D2-8B4E-479A-9D15-2E9F0A7B3C41</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>Personality</key>
	<dict>
		<key>IOProviderClass</key>
		<string>IOFramebuffer</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 startergo</string>
</dict>
</plist>
